@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  --color-primary: #282c34;
  --color-secondary: #060606;
  --color-neutral: #c56370;
  --color-sky: #60a9d4;
  --color-charizard: #e1b966;
  --color-magikarp: #c46c72;
  --nav-height: 70px;
  --duration-1: 300ms;
  --duration-2: 600ms;
  --duration-3: 900ms;
}
